@media screen and (max-width : 2560px) {
    .topnav {
        background-color: rgb(212, 100, 100);
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #b90000;
        color: white;
    }
    .group::before,
    .group::after {
    content: "";
    display: table;
    }
    .group::after {
    clear: both;
    }
    .group {
    clear: both;
    *zoom: 1;
    }
    section {
    margin: 0 1.5%;
    width: 63%;
    }
    aside {
    margin: 0 1.5%;
    width: 30%;
    }
    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    section {
        float: left;
        margin: 0 1.5%;
        width: 30%;
    }
        .grid,
    .col-1-3{
    padding-left: 15px;
    padding-right: 15px;
    }
    .container,
    .grid {
    margin: 0 auto;
    width: 960px;
    }
    .container {
    padding-left: 30px;
    padding-right: 30px;
    }
    aside {
        float: right;
    }
    iframe{
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0 10px;
      }
    P {
         text-align: center 
    }
    h1 {
        font-size: clamp(18px,4vw,20px);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 3px;
        background: -webkit-linear-gradient(#e5ff00, #ff7b00);
        padding: 0px 18vw;
        position: relative;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        font-family: "Reaver",serif;
        font-weight: 700;
        z-index: 100;
        text-shadow: 5px 5px 10px #000, 5px 5px 5px #000;
        margin-bottom: 90px;
        margin-top: 90px;
    }
    h5{
        padding: 0px 18vw;
        position: relative;
        font-size: 400px;
        line-height: 115%;
        text-align: center;
        font-family: "Reaver",serif;
        font-weight: 700;
        z-index: 10;
        text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h2 {
        display: block;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        line-height: 31px;
        margin-bottom: 4px;
        font-size: clamp(18px,3vw,40px);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        background: -webkit-linear-gradient(#eb8282, #f30a0a);
        text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;
    }
    h4{
        color: #000;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        font-family: "Reaver",serif;
        font-weight: 700;
        z-index: 10;
        text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 5px rgb(255, 255, 255);
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h3{
        display: block;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        line-height: 31px;
        margin-bottom: 4px;
        font-size: clamp(18px,3vw,20px);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        background: -webkit-linear-gradient(#414141, #6b6b6b);
        text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;
    }
    
}
